In [1]:
from dotenv import load_dotenv

# Path to env file containing the waterbodies database credentials
# Only necessary on the Sandbox.
dotenv_path = "/home/jovyan/.env"
load_dotenv(dotenv_path=dotenv_path, verbose=True, override=True)

True

In [3]:
import logging

import click
from datacube import Datacube

from waterbodies.db import get_waterbodies_engine
from waterbodies.hopper import find_task_datasets_ids
from waterbodies.io import check_directory_exists
from waterbodies.logs import logging_setup
from waterbodies.surface_area_change import (
    add_waterbody_observations_to_db,
    check_task_exists,
    get_waterbody_observations,
)
from waterbodies.text import get_task_id_str_from_tuple

In [4]:
verbose = 1
run_type = "gap-filling"
solar_day = "2024-01-11"
tile_id_x = 199
tile_id_y = 66
task_datasets_ids = []
historical_extent_rasters_directory = (
    "s3://deafrica-waterbodies-dev/waterbodies/v0.0.2/historical_extent_rasters/"
)
overwrite = False

In [5]:
# Set up logging.
logging_setup(verbose)
_log = logging.getLogger(__name__)

In [6]:
if not check_directory_exists(path=historical_extent_rasters_directory):
    e = FileNotFoundError(f"Directory {historical_extent_rasters_directory} does not exist!")
    _log.error(e)
    raise e

[2024-04-05 12:44:17,369] {credentials.py:557} INFO - Found credentials in environment variables.

In [7]:
product = "wofs_ls"

In [8]:
dc = Datacube(app=run_type)

In [9]:
# Connect to the database
engine = get_waterbodies_engine()
engine

Engine(postgresql+psycopg2://waterbodies_writer:***@db-writer:5432/waterbodies)

In [10]:
task_id_tuple = (solar_day, tile_id_x, tile_id_y)
task_id_str = get_task_id_str_from_tuple(task_id_tuple)

In [11]:
%%time
# Fill in the empty task datasets ids.
task_datasets_ids = find_task_datasets_ids(
    solar_day=solar_day, tile_id_x=tile_id_x, tile_id_y=tile_id_y, dc=dc, product=product
)
task_datasets_ids

CPU times: user 43.1 ms, sys: 4.64 ms, total: 47.7 ms
Wall time: 23.4 s

['eb5981ab-8338-5737-931c-02fea677f994',
 '1831d50f-543d-52c5-a526-7e8a8d140f51',
 '7152eed5-8dc0-5fb7-a793-37eea054169d',
 '5868aadd-d085-504f-9e7c-0c170fcdd124']

In [12]:
%%time
# Get the waterbody observations for the task.
waterbody_observations = get_waterbody_observations(
    solar_day=solar_day,
    tile_id_x=tile_id_x,
    tile_id_y=tile_id_y,
    task_datasets_ids=task_datasets_ids,
    historical_extent_rasters_directory=historical_extent_rasters_directory,
    dc=dc,
)
waterbody_observations

CPU times: user 2.75 s, sys: 399 ms, total: 3.15 s
Wall time: 9.16 s

,obs_id,task_id,uid,date,px_total,px_wet,area_wet_m2,px_dry,area_dry_m2,px_invalid,area_invalid_m2
0,2024-01-11/x199/y066_kqsbv2c3n0,2024-01-11/x199/y066,kqsbv2c3n0,2024-01-11,6,NaN,NaN,NaN,NaN,6.0,5400.0
1,2024-01-11/x199/y066_kqsbv3cryh,2024-01-11/x199/y066,kqsbv3cryh,2024-01-11,10,NaN,NaN,NaN,NaN,10.0,9000.0
2,2024-01-11/x199/y066_kqsc3m09xj,2024-01-11/x199/y066,kqsc3m09xj,2024-01-11,8,NaN,NaN,NaN,NaN,8.0,7200.0
3,2024-01-11/x199/y066_kqscgbtq6z,2024-01-11/x199/y066,kqscgbtq6z,2024-01-11,7,NaN,NaN,NaN,NaN,7.0,6300.0
4,2024-01-11/x199/y066_kqscgcm35j,2024-01-11/x199/y066,kqscgcm35j,2024-01-11,9,NaN,NaN,NaN,NaN,9.0,8100.0
...,...,...,...,...,...,...,...,...,...,...,...
336,2024-01-11/x199/y066_kqtkcztffq,2024-01-11/x199/y066,kqtkcztffq,2024-01-11,47,NaN,NaN,1.0,900.0,46.0,41400.0
337,2024-01-11/x199/y066_kqtkf403j4,2024-01-11/x199/y066,kqtkf403j4,2024-01-11,12,NaN,NaN,NaN,NaN,12.0,10800.0
338,2024-01-11/x199/y066_kqtm1bnh8x,2024-01-11/x199/y066,kqtm1bnh8x,2024-01-11,9,NaN,NaN,NaN,NaN,9.0,8100.0
339,2024-01-11/x199/y066_kqtm1bqgmz,2024-01-11/x199/y066,kqtm1bqgmz,2024-01-11,6,NaN,NaN,NaN,NaN,6.0,5400.0
340,2024-01-11/x199/y066_kqtm1cqc1s,2024-01-11/x199/y066,kqtm1cqc1s,2024-01-11,78,NaN,NaN,NaN,NaN,78.0,70200.0

In [13]:
%time
# Add the waterbody observations to the database.
add_waterbody_observations_to_db(
    waterbody_observations=waterbody_observations, engine=engine, update_rows=True
)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs
[2024-04-05 12:44:53,904] {surface_area_change.py:266} INFO - Found 341 out of 341 waterbody observations already in the waterbody_observations_2 table
[2024-04-05 12:44:53,953] {surface_area_change.py:315} INFO - Updating 341 waterbody observations in the waterbody_observations_2 table
[2024-04-05 12:44:54,127] {surface_area_change.py:331} ERROR - No waterbody observations to insert into the waterbody_observations_2 table

In [12]:
import pandas as pd

# Write your SQL query to select the first 5 rows
sql_query = "SELECT * FROM waterbody_observations_2;"

# Execute the query and fetch the results into Pandas DataFrame
df = pd.read_sql_query(sql_query, con=engine)

df

,obs_id,uid,px_total,px_wet,area_wet_m2,px_dry,area_dry_m2,px_invalid,area_invalid_m2,date,task_id
0,2019-01-05/x214/y083_s8zctzk7q3,s8zctzk7q3,14,NaN,NaN,14.0,12600.0,NaN,NaN,2019-01-05,2019-01-05/x214/y083
1,2019-01-05/x214/y083_s8zdgvm0p5,s8zdgvm0p5,51,NaN,NaN,51.0,45900.0,NaN,NaN,2019-01-05,2019-01-05/x214/y083
2,2019-01-05/x214/y083_s8zsqu8kvp,s8zsqu8kvp,9,NaN,NaN,9.0,8100.0,NaN,NaN,2019-01-05,2019-01-05/x214/y083
3,2024-01-11/x199/y066_kqsckdzu93,kqsckdzu93,7,NaN,NaN,NaN,NaN,7.0,6300.0,2024-01-11,2024-01-11/x199/y066
4,2024-01-11/x199/y066_kqsckeettf,kqsckeettf,21,NaN,NaN,NaN,NaN,21.0,18900.0,2024-01-11,2024-01-11/x199/y066
...,...,...,...,...,...,...,...,...,...,...,...
1441,2024-01-11/x199/y066_kqtkcztffq,kqtkcztffq,47,NaN,NaN,1.0,900.0,46.0,41400.0,2024-01-11,2024-01-11/x199/y066
1442,2024-01-11/x199/y066_kqtkf403j4,kqtkf403j4,12,NaN,NaN,NaN,NaN,12.0,10800.0,2024-01-11,2024-01-11/x199/y066
1443,2024-01-11/x199/y066_kqtm1bnh8x,kqtm1bnh8x,9,NaN,NaN,NaN,NaN,9.0,8100.0,2024-01-11,2024-01-11/x199/y066
1444,2024-01-11/x199/y066_kqtm1bqgmz,kqtm1bqgmz,6,NaN,NaN,NaN,NaN,6.0,5400.0,2024-01-11,2024-01-11/x199/y066
1445,2024-01-11/x199/y066_kqtm1cqc1s,kqtm1cqc1s,78,NaN,NaN,NaN,NaN,78.0,70200.0,2024-01-11,2024-01-11/x199/y066